body{
  background-color: #3d4747;
}

input {
  max-width: 50%;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  border: solid #4f5554;
  padding: 5px;
}

output {
  font-size: calc(15px + 2vmin);

}

h1 {
  margin: 5% auto;
}

.converter-box {
  background-color: #83c8be;
  min-height: 40vh;
  width: 70%;
  margin: 5vh auto;
  box-shadow: 5px 5px 5px #2f6e86;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: #353939;
  padding-top: 1%;
  padding-bottom: 1%;

}

.output-field{
  display: inline-block;
  color: #353939;
  margin: 30px auto;
  min-height: 30vh;
}
